article{
    background: #ffffff;
    display: flex;
    flex-flow: row nowrap;
    padding: 1.688rem;
    margin: 1.688rem;
    figure{
        height: auto;
        max-height: 30rem;
        margin-right: 2.461rem;
        overflow: hidden;
        width: 18.313rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    h2,h3{ 
        color: #8d8c8c;
        font-weight: normal;  
    }
    h1{
        font-size: 1.875rem; 
        color: #1a0e49 
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.125rem;
    }
    @media(max-width: 48.75rem){
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        figure{
            margin-right: 0;
            margin-bottom: 2.4rem;
        }
    }
    @media(max-width: 26.25rem){
        figure{
            width: 100%;
        }
    }
}
.link-enterprise{
    text-decoration: none;
}

.card-detail{
    flex-flow: column wrap;
    figure{
        margin-bottom: 3.063rem;
        width: 100%;
    }
    p{
        color: #8d8c8c;
        font-size: 1.5rem;
    }
}
.title-detail{
    justify-content: start;
    padding-left: 2rem;
    h1{
        color: #ffffff;
        font-size: 1.7rem;
        font-weight: normal !important;
        text-transform: uppercase;
    }
    
}
.header__back{
    cursor: pointer;
    background: url('../Images/left-arrow.svg') transparent no-repeat center center / 80%;
    border: none;
    margin-right: 2rem;
    height: 3.125rem;
    width: 3.125rem;
    
}