// Variables..

$charcoal-grey: #383743;
$red: #ff0f44;

.container-login{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    .logo{
        margin-bottom: 4.188rem
    }
    &__title{
        color: $charcoal-grey;
        font-size: 1.5rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        width: 11rem;
    }
    &__area{
        align-items: center;
        display: inherit;
        flex-flow: column wrap;
        max-width: 21.938em;
        width: 100%;
        form{ 
            align-items: center;
            display: inherit;
            flex-flow: column wrap; 
            width: 100%;
        }
    }
    &__input{
        border-bottom: 1px solid $charcoal-grey;
        position: relative;
        width: 100%;
        input{
            border: none;
            color: #494758;
            font-family: 'Roboto', sans-serif;
            font-size: 1.369rem;
            padding: .566rem .566rem .566rem 2rem;
            width: 100%;
        }
        .ivp{
            cursor: pointer;
            display: flex;
            position: absolute;
            right: 0;
            top: 0;
            width: 1.813rem;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }
    &__description{
        color: $charcoal-grey;
        font-size: 1.125rem;
        line-height: 1.44;
        text-align: center;
        margin: 1.281rem;
    }
}

.mb-2{ margin-bottom: 2rem }
.mb-1{ margin-bottom: 1rem }


.ico-mail{ background: url(../Images/ic-email.svg) no-repeat left center }
.ico-padlock{ background: url(../Images/ic-cadeado.svg) no-repeat left center }

.invalid-input{
    position: relative;
    border-bottom: 1px solid $red !important;
    &:after{
        align-items: center;
        background: $red;
        border-radius: 100%;
        color: #ffffff;
        content: '!';
        display: flex;
        height: 1.5rem;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        width: 1.5rem;
    }
}
.msg{
    font-size: 0.76rem;
    line-height: 1.95;
}
.msg-error{
    color: $red;
}
.btn-disable{
    background: #748383 !important;
}

::-webkit-input-placeholder  { font-size: 1.125rem}
input:-moz-placeholder { font-size: 1.125rem}
textarea:-moz-placeholder { font-size: 1.125rem}