.search-area{
    align-items: center;
    background-image: linear-gradient(to bottom, #e4426d, #992544);
    bottom: 0;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    z-index: 10;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    &__search{
        background: none;
        border: none;
        border-bottom: 1px solid #ffffff;
        color: #ffffff;
        font-size: 2.125rem;
        padding: 1rem 0;
        width: 100%;
        &::-webkit-input-placeholder  { 
            font-size: 2.125rem;
            color: #991237;
        }
        &:-moz-placeholder { 
              font-size: 2.125rem;
              color: #991237;
        }
        &:-moz-placeholder { 
              font-size: 2.125rem;
              color: #991237;
        }
        
    }
    &__icon{
        border: none;
        background: url('../Images/ic-search.svg') transparent no-repeat center center;
        cursor: pointer;
        height: 3.75rem; 
        position: inherit;
        left: -5rem;
        width: 3.75rem

    }
}

.expande-search{
    width: 95% !important;
    right: 2rem !important;
    .search-area__icon{
        left: 0 !important;
    }
    .search-area__search{
        padding: 1.185rem 1.185rem 1.185rem 4rem !important;
    }
}

