// Variables and mixins..

$gray: #ebe9d7;
$greeny-blue: #57bbbc;
$white: #ffffff;


*{
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root{
  height: 100%;
}

body{
  background: $gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


// Globals elements..
.btn{
  border: none;
  border-radius: 3.6px;
  cursor: pointer;
  max-width: 20.25rem;
  padding: .9rem;
  width: 100%;
}

.btn-primary{
  background: $greeny-blue;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
}